# 01.intro

## 단축키 

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + enter : 지금 셀 실행 & 아래에 새로운 셀 추가

In [ ]:
# 주석입니다. (파이썬코드내에서 주석달기)

## 1. 변수

변수이름 '=' 값

- 변수이름은 어떤 이름이든 상관 없음
- 영어, 숫자, '_'를 이용하여 선언
- 키워드는 사용불가

In [ ]:
a = 10

In [ ]:
a

In [ ]:
a = 11

> 코드를 실행하려면 항상 전에 무슨 코드를 실행했는지 확인하기

In [ ]:
import keyword
keyword.kwlist

### 1.1 number

In [ ]:
a =  9999

In [ ]:
a

In [ ]:
type(a)

In [ ]:
b = 1.1

In [ ]:
b

In [ ]:
type(b)

In [ ]:
c = 1 - 4j

In [ ]:
c

In [ ]:
type(c)

In [ ]:
c.imag

In [ ]:
c.real

### 1.2 Boolean
- `True`,`False` 로 이루어진 타입

In [ ]:
a = True

In [ ]:
type(a)

### 1.3 None
데이터가 없음을 의미

In [ ]:
a = None

In [ ]:
type(a)

> 아무것도 없음을 나타냄. (데이터 자체가 비어있음)

### 1.4 String
- 문자열은 `'`,`"`를 이용하여 표현

In [ ]:
a = 'hello'

In [ ]:
type(a)

In [ ]:
b = "world"

In [ ]:
type(b)

In [ ]:
age = input()

In [ ]:
age

In [ ]:
type(age)

In [ ]:
print('안녕하세요, '유가영'입니다.')

In [ ]:
print("안녕하세요? '유가영'입니다.")

In [ ]:
print('안녕하세요 \'유가영\'입니다.') #escape문

In [ ]:
a = '''
여기는 문자열 입니다.
여러줄을 작성할 수 있어요.
'''

In [ ]:
a

In [ ]:
a = '''
여기는 \n문자열 입니다.
여러\t줄을 작성할 수 있어요.
'''

In [ ]:
print(a)

In [ ]:
print('하나','둘','셋') #input은 표준입력 print는 표준출력 print는 여러개의 데이터를 받아서 묶어준다.

#### string interpolation
1. %-fomatting
2. str.format()
3. f-string (python 3.6버전이후 최신문법)

In [ ]:
age = 100

In [ ]:
print('홍길동은 10살입니다.')

In [ ]:
print('홍길동은 %s살입니다.' % age)

In [ ]:
print('홍길동은 {}살입니다.'.format(age))

In [ ]:
print(f'홍길동은 {age}살입니다.')

# 2. 연산자
## 2.1 산술연산자

In [3]:
a = 2
b = 3

In [5]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
# print문을 사용하는 이유는 주피터노트북이 가진 특성때문에 기본적으로 맨마지막에 있는 아웃풋을 출력해주기 때문에 print문을 사용.

5
-1
6
0.6666666666666666

In [6]:
a = 2
b = 3

In [7]:
print(a + b)

5

In [8]:
print(a - b)

-1

In [9]:
print(a * b)

6

In [11]:
print(a / b)

0.6666666666666666

In [13]:
print(a ** b)

8

In [14]:
print(a // b)

0

In [15]:
print(a % b)

2

In [ ]:
a + b
a - b

In [ ]:
print(a ** b)
# a를 b만큼 곱해주세요

In [ ]:
print(a // b)
# a를 b로 나눈 몫
print(a % b)
# a를 b로 나눈 나머지

print(divmod(a, b))
# mod

## 2.2 비교연산자

In [ ]:
a = 5
b = 5

In [ ]:
print(a > b)
# a보다 b가 크나요? 라고 질문하는것.
print(a < b)
# a보다 b가 작나요? 라고 질문하는것.
print(a >= b)
print(a <= b)

In [ ]:
print(a == b)
# a와 b가 같나요?
print(a != b)
# a와 b가 다르나요?

In [ ]:
print('hi' == 'hi')
#글자도 질문할 수 있음
print('Hi' == 'hi')

## 2.3 논리연산자
- `and` : 양쪽 모두 `True`일 때 `True`를 반환
- oe : 양쪽 모두 false일때 false를 반환
- not :값을 반대로 전환

In [ ]:
print(True and True) # 둘다 True
print(True and False) # ??
print(False and True)
print(False and False)

In [ ]:
print(True or True) #둘중에 하나라도
print(True or False)
print(False or True)
print(False or False)

In [ ]:
print(True)
print(not True)

a = True
print(not a)

In [ ]:
# 단축평가(and)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)
# 기본적으로 컴퓨터는 0이라는 데이터는 전기신호가 흐르지않음(False) 1이라는 데이터는 전기신호가 흐름(True) 2,3,4 데이터는 True라고 생각해도 됌. 
# 5가 출력이 되었는데 앤드는 양쪽모두 트루일때 트루를 출력한다고했는데 앞데이터가 폴스이면 단축평가로 false표시함.

In [ ]:
# 단축평가(or)
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)
# false 명령어는 양쪽 다 false일 경우에만 false가 출력됌
# 앞에있는게 True면 뒤에있는 결과가 중요하지 않음.

In [ ]:
print(None or 'index.html')

In [ ]:
print('login.html' or 'index.html')

### 2.4 복합연산자

In [ ]:
a = 2
b = 3

In [ ]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [ ]:
print(a)

In [ ]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b
print(a)

### 2.4 기타연산자

In [ ]:
a = 'hi'
b = 'hello'

In [ ]:
a + b
# concatenation
# 글자를 더할수도 있음.
# 글자를 + 기호로 더하게되면 서로 이어서 출력

In [11]:
a = [1, 2, 3]
b = [5, 6, 7]

In [12]:
a + b

[1, 2, 3, 5, 6, 7]

In [6]:
#containment
print('a' in 'apple')
print('z' in 'apple')

True
False

In [7]:
print(1 in [1, 2, 3])
print(100 in [1, 2, 3])

True
False

In [8]:
a = 123123
b = 123123
print(a is b) # a는 b인가요?

False

In [9]:
a = 10
b = 10
print(a is b)

True

In [16]:
# is는 양쪽에 있는 데이터가 같냐긴보단 위치가 같냐고 물어보는것 (???)
#

#### 연산자 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+,-)
4. 비교연산자, ㅑㄴ, ㅑㅜ
5. not
6. and, or

In [15]:
print((-3) ** 4)
print(-3 ** 4)ddddddd

81
-81

# 3. 형변환

## 3.1 암시적 형변환

In [18]:
a = True
b = False
c = 1
# 불리언형태는 각각 1과 0으로 나타내어짐.

In [19]:
print(a + c)
print(b + c)

2
1

In [20]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [21]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(6+3j)

## 3.2 명시적 형변환

In [23]:
a = 1
b = '번'

In [24]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
print(str(a) + b)
# 숫자를 글자로 변환할 때

1번

In [28]:
a = '100'

In [30]:
print(type(int(a)))

<class 'int'>

In [35]:
age = int(input())
print(type(age))
# input형태의 결과를 가져와야된다면 글자형태로 되기 떄문에 숫자형태로 불러와야된다면 int쓰기

 123

<class 'int'>

In [36]:
a = '3.3'

In [37]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [38]:
type(float(a))

float

> 숫자들간의 변환

In [39]:
a = 1
b = 0
c = 100

In [40]:
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [41]:
#불리언으로 쓸 수 있는 타입은 숫자말고도 여러가지가 가능

In [42]:
print(bool(''))
print(bool('a'))

False
True

In [44]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

> 문자들간의 변환

# 4. 시퀀스(sequence) 자료형
- 여러가지 데이터들의 묶음
- 시퀀스는 데이터의 순서대로 나열된 자료구조 (순서대로 나열되어있다는 것은 정렬된것과는 다르다.)

1. 리스트(list)
2. 튜플(tuple)
3. 레인지(range)
4. 문자열(string)

### 4.1 List(배열)
- 선언 : 변수이름 = [value1, value2, value3]
- 접근 : 변수이름[index]
> 변수이름을 작성하고 대괄호를 넣어서 데이터를 넣어주기

In [48]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [47]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

print(location[3])

['서울', '대전', '부산']
<class 'list'>

IndexError: list index out of range

In [53]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

print(location[2])
print(location[-3])

location[2] = '제주'
print(location)

['서울', '대전', '부산']
<class 'list'>
부산
서울
['서울', '대전', '제주']

### 4.2 Tuple
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- List와 유사하지만 수정불가능(immutable)하다.

In [54]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [55]:
t[2] = 100

TypeError: 'tuple' object does not support item assignment

In [58]:
result = divmod(9, 4)
# 9를 4로 나누다 
print(type(result))
print(result[0])

<class 'tuple'>
2

In [60]:
x, y = (1, 2)
print(x, y)
# Tuple의 방식1
x, y = (y, x)
print(x, y)
# Tuple의 방식2

1 2
2 1

## 4.3 range
- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 범위, +s만큼 증가하는 범위

In [61]:
r = range(5)
print(r)
print(type(r))

range(0, 5)
<class 'range'>

In [62]:
r = range(5, 15)
print(r)

range(5, 15)

In [64]:
r = range(5, 15, 2)
print(r)
# 레이지하다는 게으른 연산, 선언할 때 바로 데이터로 바꿔주는게 아니라 내가 사용할때만 변환해준다. 보고싶다면 형변환을 시켜줘야됌.

range(5, 15, 2)

In [65]:
list(r)

[5, 7, 9, 11, 13]

### 4.4 string
기본 데이터 구조 참고

### 4.5 시퀀스에서 사용가능한 연산/함수

In [66]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (11, 12, 13, 14, 15)
my_range = range(1, 10, 2)
my_string = '일이삼사오'

In [69]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
12
3
이

In [71]:
# slicing
print(my_list[1:3])
# 3번째는 포함이 안됌 3미만 데이터
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(12, 13)
range(3, 7, 2)
이삼

In [73]:
print(my_list[1:4:2])
print(my_range[2:7:2])

[2, 4]
range(5, 11, 4)

In [75]:
print(my_list[:3])
print(my_list[3:])

[1, 2, 3]
[4, 5]

In [78]:
# in
# 어떤 글자가 해당하는 범위에 들어있는지
print(1 in my_list)
print(11 in my_tuple)
print(1 in my_range)
print('일' in my_string)

True
True
True
True

In [84]:
# not in
# 이 두개가 다른가요?를 질문
print(11 not in my_list)
print(1001 not in my_tuple)
print(99 not in my_range)
print('유' not in my_string)

True
True
True
True

In [85]:
# concatenation
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(11, 12, 13, 14, 15, 1, 2, 3)

In [90]:
# *
print(my_string * 3)
print(my_list * 3)


#언제사용하냐면
print([[0] * 10] * 10)

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [92]:
len(my_list)
# 길이

5

In [93]:
min(my_tuple)

11

In [94]:
max(my_range)

9

In [97]:
max(my_string)
#숫자들의 비교는 스트링에서는 사용이 안된다.

'일'

In [100]:
my_list.count(1)
#1이 몇개인지 카운트

1

> 시퀀스들의 형태

## 5. 시퀀스데이터가 아닌 자료구조
### 5.1 set
수학에서 사용하는 집합과 동일하게 처리(중복된 값이 없음)
- 선언 : 변수이름 = {value1, value2, value3}

In [104]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [109]:
print(my_set_a - my_set_b)
# 차집합연산
print(my_set_a | my_set_b)
# 합집합(파이프기호) = or
print(my_set_a & my_set_b)
# 교집합연산 =  and

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [111]:
my_list = [1, 2, 3, 1, 4, 1, 2, 3, 5, 6, 7, 8, 2, 2]
print(set(my_list))
# 중복된데이터 검증

{1, 2, 3, 4, 5, 6, 7, 8}

### 5.2 dictionary
- 선언 : 변수이름 = {key1: value1, key2: value2, key3: value3}
- 접근 : 변수이름[key]
- 특성 : dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한(불변하는) 모든 값을 사용 가능. (불변값: string, integer...)
- value에는 모든 데이터가 가능하다. (list, dict도 가능)

In [115]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [123]:
dict_a = {
    'name': 'changhee',
    'age': 10,
    'location': 'seoul',
    'numbers': [1, 2, 3, 4, 5],
    'friends': {
        'a': 10,
        'b': 11,
    },
}

print(dict_a['age'])
print(dict_a['numbers'][3])
print(dict_a['friends']['b'])

10
4
11

In [124]:
dict_a.keys()

dict_keys(['name', 'age', 'location', 'numbers', 'friends'])

In [125]:
dict_a.values()

dict_values(['changhee', 10, 'seoul', [1, 2, 3, 4, 5], {'a': 10, 'b': 11}])

## 데이터 타입

1. Number
2. Boolean
3. String

##  자료구조
- 시퀀스 자료형
    1. [list] : mutable
    2. (Tuple) : immutable
    3. range() : immutable
    4. 'string' : immutable
- 시퀀스가 아닌 자료형
    1. {Set} : mutable
    2. {Dict: ignary} : mutable

In [126]:
# 이걸 베이스로 사용하기.