# 제어문

## 조건문(if문)

```python
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```


1. `if` 문은 반드시 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용한다.
2. `조건식`이 참인 경우 `:(콜론)` 이후의 문장을 실행한다.
3. `조건식`이 거짓인 경우 `else :` 이후의 문장을 실행한다.

In [4]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/12

크리스마스가 아닙니다.

In [12]:
num = input('숫자를 입력해주세요 : ')
# input이라는 것은 문자형태이기 떄문에 int로 숫자형태로 바꿔주기
num = int(num)

if num % 2 == 0:
    print('짝수입니다')
else:
    print('홀수입니다')
print(type(num))

숫자를 입력해주세요 :  10

짝수입니다
<class 'int'>

In [ ]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2 == 1:
    print('홀수입니다')
else:
    print('짝수입니다')

In [13]:
# num을 2로 나눈 나머지는 0, 1 두가지 경우가 있다.
# if 조건식에 0, 1은 자동형변환이 일어나 False, True로 변환된다.
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2:
    print('홀수입니다')
else:
    print('짝수입니다')

숫자를 입력해주세요 :  11

홀수입니다

### elif

```python
if <조건식>:
    if 조건이 참인경우 실행
elif <조건식>:
    elif 조건이 참인경우 실행
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [18]:
score = int(input())

# 90점이상 A (95이상이라면 good추가)
# 80점이상 B
# 70점이상 C
# 나머지 F

if score >= 90:
    print('A')
    if score >= 95:
        print('good')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

 95

A
good

### 조건표현식
```python
    true_value if <조건식> else false_value
```

In [1]:
print('True') if 1 < 0 else print('False')

False

In [3]:
if 1 < 0:
    print('True')
else:
    print('False')
#아래 표현식을 선호함

False

In [4]:
num = 5

if num >= 0:
    value = num
else:
    value = 0

print(value)

5

In [6]:
num = -5
value = num if num >= 0 else 0
print(value)

0

In [7]:
#연습
num = 10
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [8]:
num = 10
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

짝수

## 반복문

### while문
```python
while <조건식>:
    실행할 코드
```

In [9]:
a = 0

while a < 5:
    print(a)
    a += 1
    # a = a + 1

0
1
2
3
4

In [11]:
greeting = ''
while greeting != '안녕':
    greeting = input('안녕이라고 해줘 : ')

안녕이라고 해줘 :  ㅇㅇ
안녕이라고 해줘 :  ㅋㅋ
안녕이라고 해줘 :  안녕

### for
정해진 범위 내의 반복 (여기서부터 여기까지 일해)

```python
    for variable in sequence:
        실행할코드
```

In [14]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [16]:
word = input('단어를 입력해주세요 : ')
#sepquence 데이터 구조이기때문에 for문 사용가능
for char in word:
    print(char)

단어를 입력해주세요 :  apple

a
p
p
l
e

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for i in(1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [19]:
#핵심은 4가지 데이터 모두 다 for문 사용가능함.

In [20]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [22]:
# 1. 1~30까지 숫자 중에서 홀수를 출력
  2. 1~30까지 숫자중에서 홀수를 출력

numbers = range(1, 30)
for numbers in range(1, 30)
    print(numbers)
    numbers -= 1

SyntaxError: expected ':' (3525438798.py, line 4)

In [23]:
numbers = range(31)

for number in numbers:
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [24]:
numbers = range(31)

for number in numbers:
    if number % 2 == 1:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [25]:
numbers = range(31)
result = []

for number in numbers:
    if number % 2 == 1:
       # print(number)
        result.append(number)

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [29]:
menus = ['라면', '김밥', '떡볶이', '돈까스']

for menu in menus:
    print(menu)

라면
김밥
떡볶이
돈까스

In [30]:
# 위와 똑같은 코드를 다른방식으로 작성
for i in range(3):
    print(menus[i])

# range범위가 3인 이유?

라면
김밥
떡볶이

In [31]:
# range코드는 문제가 발생할 수 있음.
#위에있는 코드에 돈까스가 추가가 되었다면 아래 range코드는 돈까스가 추가가 되지않음.
# 아래있는 코드에도 적용하려면
for i in range(len(menus)):
    print(menus[i])

라면
김밥
떡볶이
돈까스

In [32]:
enumerate(menus)
#이뉴머레이트라는 객체가 만들어짐 (어떠한 계산결과가 뭉쳐있는 객체)

In [34]:
for item in enumerate(menus):
    print(item)

(0, '라면')
(1, '김밥')
(2, '떡볶이')
(3, '돈까스')

In [35]:
for index, menu in enumerate(menus):
    print(index, menu)

0 라면
1 김밥
2 떡볶이
3 돈까스

#### dictionary 반복

1. for key in dict:

In [36]:
info = {
    'name': 'gayoung',
    'location': 'seoul',
    'phone': '010-1234-1234',
}

In [38]:
for key in info:
    print(key)
    print(info[key])

name
gayoung
location
seoul
phone
010-1234-1234

In [39]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

In [40]:
for key in blood_type:
    print(key)

A
B
O
AB

In [41]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [45]:
blood_type.keys()

dict_keys(['A', 'B', 'O', 'AB'])

In [46]:
for value in blood_type.values():
    print(value)

5
4
2
3

In [44]:
result = 0

for value in blood_type.values():
    # print(value)
    result = result + value
    # result += value

print(f'총인원은 {result}명입니다.')

총인원은 14명입니다.

In [47]:
# 키와 밸류가 같이 필요할 때
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

In [48]:
for item in blood_type.items():
    print(item)

('A', 5)
('B', 4)
('O', 2)
('AB', 3)

In [49]:
for item in blood_type.items():
    print(item[0])
    print(item[1])

A
5
B
4
O
2
AB
3

In [51]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

#### break
반복문을 종료시키는 키워드

In [ ]:
for i in range(100):
    print(i)
    # 0~99까지 출력됨. 조건을 넣을거야.

In [52]:
for i in range(100):
    print(i)
    if i > 10:
        print('10넘었어!!!')
        # break는 for문과 연결되어있음.
        break

0
1
2
3
4
5
6
7
8
9
10
11
10넘었어!!!

In [55]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리', '보리', '보리']
# 보리 보리 보리 보리 쌀 잡았다!

for rice in list(rice):
    print(rice)
    if rice == '쌀':
        print('쌀 잡았다!')
        break

보리
보리
보리
보리
쌀
쌀 잡았다!

In [57]:
for r in rice:
    print(r)
    if r == '쌀':
        print('쌀 잡았다!')
        break

쌀
쌀 잡았다!

#### continue
continue이후의 코드를 실행하지않고 다음 반복을 실행

In [59]:
for i in range(10):
    if i % 2:
        continue

    print(i)

0
2
4
6
8

In [61]:
age = [10, 23, 8, 30, 49, 15]

for a in age:
    if a < 20:
        continue
        # 20보다 큰 데이터는 스킵
    print(f'{a}살은 성인입니다.')

23살은 성인입니다.
30살은 성인입니다.
49살은 성인입니다.

#### else
else문은 끝까지 반복이 진행이 된 후 실행합니다. (끝까지 반복이 되었다는 말이 무슨말이냐면 break를 만나지 않은 경우)

In [63]:
for i in range(50):
    print(i)
    if i > 10:
        break
#for문과 이어지는 else를 작성했는데 작동하지 않음.
else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
10
11

In [65]:
for i in range(10):
    print(i)
    if i > 10:
        break

else:
    print('break 못만남')
# break를 만나지 않았을 때 실행합니다.

0
1
2
3
4
5
6
7
8
9
break 못만남

In [66]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)
print(99 in numbers)

True
False

In [72]:
numbers = [1, 2, 3, 4, 5]
target = 3

# numbers를 반복하다 target이 있으면 True 출력 없으면 False 출력
for number in numbers:
    print('True')
    if number == target:
        break
else:
    print('False')

True
True
True

In [71]:
# numbers를 반복하다 target이 있으면 True 출력 없으면 False 출력 (강사님)
for number in numbers:
    if number == target:
        print('True')
        break
else:
    print('False')

True

#### pass

In [73]:
if True:
    pass
# 추후에 기능 구현할때에 pass로 구현

In [74]:
#예시
def login():
    pass

def logout():
    pass

### match
```python
match value:
    case 조건:
        실행할 코드
    case 조건:
        실행할 코드
    case _:
        실행할 코드
```

In [75]:
status = 404
match status:
    case 400:
        pass
    case 404:
        pass
    case _:
        pass

In [ ]:
match status:
    case 400:
       print('bad request') 
    case 404:
        print('bad request')
    case _:
        print('bad request')