In [2]:
print('hello')

hello

In [3]:
''.join(['일', '이', '삼'])

'일이삼'

In [5]:
dir('hello')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

# 문자열 메소드(=객체 안에 들어있는 함수)

In [21]:
a = 'hello my name is tina'

In [9]:
print(a)

hello my name is tina

In [11]:
print(a[0]) #시퀀스 타입이라 인덱스로 접근이 가능

h

In [15]:
# 문자열은 immutable하기 때문에 수정 불가능
a[0] = 'H' #문자열은 단일속성에 접근해서 변경하는것이 불가능하다. 이뮤터블하다.
# a = 'Hello my name is tina' 데이터를 바꾸려면 덮어씌우기 해야된다.

TypeError: 'str' object does not support item assignment

In [29]:
a = a.capitalize()
# print(a)값과 다를텐데 capitalize도 함수니깐 return만 해줌. a라는 원본데이터만 받고싶으면 a라는 변수에 다시 덮어씌워주면 됨.
print(a)

Hello my name is tina

In [30]:
a.title()

'Hello My Name Is Tina'

In [31]:
a.upper()

'HELLO MY NAME IS TINA'

In [32]:
a.lower()

'hello my name is tina'

In [34]:
print(a) #원본은 계속 남아있음

Hello my name is tina

In [37]:
my_list= ['hi', 'my', 'name']
'??'.join(my_list)
#join이라는 메소드로 호출하면 문자들을 이어줌. str.join(iterable)

'hi??my??name'

In [48]:
# .strip([chars]) []영역은 넣어도되고 안넣어도 된다라는 말임. 
my_string = '     hello\n   ' #왼쪽에 공백 오른쪽에 공백
print(my_string) #공백 그대로 나타냄
print(my_string.strip()) #왼쪽과 오른쪽을 뒤지면서 필요없는 부분을 없애줌

my_string2 = 'hihihihihihihihellohihihihihihihi'
print(my_string2.strip('hi'))
print(my_string2.lstrip('hi')) # 왼쪽을 지워줌
print(my_string2.rstrip('hi')) # 오른쪽을 지워줌

     hello

hello
ello
ellohihihihihihihi
hihihihihihihihello

In [51]:
# .replace(old, new[, count])
a = 'wooooooooow'
a.replace('o', '!',3) #count는 선택사항이기때문에 넣어도 되고 안넣어도 된다. n번만큼 교환해라. 라는 뜻임.

'w!!!oooooow'

In [55]:
#. find(x)  #찾는함수(찾는게없으면 -1을 호출)
a = 'apple'
print(a.find('p'))
print(a.find('p')) #p가 2개 인데 앞뒤를 찾는게 아니라 처음으로 나오는 데이터만 호출할것임.
print(a.find('f')) #찾는데이터가 없다라고 한다면 -1을 호출.

# find의 코드를 구현한 for함수
for i in range(len(a)):
    if 'p' == a[i]:
        print(i)
        break
else:
    print(-1)

1
1
-1
1

In [57]:
#. index(x) #찾는게 없으면 에러를 호출
a = 'apple'

print(a.index('p'))
print(a.index('z'))

1

ValueError: substring not found

In [60]:
#  .split(x)  #리스트로 만들어줌
a = 'my_name_is'
a.split('_')

['my', 'name', 'is']

In [62]:
# .count(x)  # 갯수를 출력
'wooooooow'.count('o')

7

## 리스트 메소드

In [155]:
numbers = [1, 5, 6, 4, 1, 2]

In [72]:
# .append(x) #뒤에다가 집어 넣을 때
numbers.append(10)
print(numbers)

[1, 5, 6, 4, 1, 2, 10, 10, 10, 99, 100, 10]

In [76]:
# .extend(x) #확장하다
a = [99, 100]

numbers.extend(a)
print(numbers)
print(numbers + a)

[1, 5, 6, 4, 1, 2, 10, 10, 10, 99, 100, 10, 99, 100, 99, 100, 99, 100]
[1, 5, 6, 4, 1, 2, 10, 10, 10, 99, 100, 10, 99, 100, 99, 100, 99, 100, 99, 100]

In [157]:
# .insert(idx, x) #특정한 위치가 필요할 때 
numbers.insert(3, 3.5)
print(numbers)

[1, 5, 6, 3.5, 4, 1, 2]

In [158]:
# .remove(x)
numbers.remove(3.5)
print(numbers)

[1, 5, 6, 4, 1, 2]

In [85]:
# .pop()   # 맨 마지막에 있는 데이터만 빼냄
numbers.pop()
print(numbers)


numbers.pop(0) #원하는 인덱스값으로 원하는 데이터만 빼낼수있음.
print(numbers)

numbers.pop()

[1, 2, 10, 10, 10]
[2, 10, 10, 10]

10

In [86]:
num = numbers.pop()
print(num)

10

In [91]:
# .sort()  #원본을 바꾸고 return은 없고
numbers = [1, 6, 2, 1, 3, 2, 7, 10]

print(numbers)
# 시퀀스 타입은 순서가 있지만 정렬이 되어있진 않음 지금 해볼건 정렬.

print(numbers.sort()) #넘버스에 솔트한 결과 원본 데이터를 정렬데이터로
print(numbers)
numbers.sort(reverse=True)  #역정렬
print(numbers)

[1, 6, 2, 1, 3, 2, 7, 10]
None
[1, 1, 2, 2, 3, 6, 7, 10]
[10, 7, 6, 3, 2, 2, 1, 1]

In [98]:
numbers = [1, 6, 2, 1, 3, 2, 7, 10]
print(numbers)
print(sorted(numbers)) # sorted는 함수라서 sort처럼 데이터를 가지고 있는게 아님
print(numbers)

[1, 6, 2, 1, 3, 2, 7, 10]
[1, 1, 2, 2, 3, 6, 7, 10]
[1, 6, 2, 1, 3, 2, 7, 10]

In [97]:
# .reverse() #정렬은 아니지만 안에 들어있는 내용을 뒤집을 때
numbers = [1, 6, 2, 1, 3, 2, 7, 10]
print(numbers)
numbers.reverse()
print(numbers)

numbers = numbers[ : : -1] #슬라이싱을 통해서도 구현이 가능하다.
print(numbers)

[1, 6, 2, 1, 3, 2, 7, 10]
[10, 7, 2, 3, 1, 2, 6, 1]

## list copy

In [99]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [100]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [101]:
copy_list[0] = 100

In [102]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [104]:
# 이걸 해결하려면

a = [1, 2, 3]
b = list(a)
# b = a[:] 와 b = list(a) 동일한 방법

b[0] = 100

print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [108]:
a = [    1,       2,      [99, 100]    ] #리스트 안에 리스트
b = a[:]
# b = list(a)

# 리스트안의 100이라는 데이터에 접근하려면
b[2][1] = 1000

print(a)
print(b)

[1, 2, [99, 1000]]
[1, 2, [99, 1000]]

In [111]:
#리스트안에 또다른 리스트가 있는 경우에는 메서드를 하나 사용해야됌
# .deepcopy() #깊이가 있는 데이터를 복제할 때(리스트안에 또 리스트가 있는 경우 복제를 해야된다 하는 경우 뎁스 안에 뎁스)

import copy
a = [1, 2, [99, 100]]
b = copy.deepcopy(a)

b[2][1] = 1000

print(a)
print(b)

[1, 2, [99, 100]]
[1, 2, [99, 1000]]

## list comprehension

In [114]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [118]:
# [1, 8, 27... 1000] => 세제곱 만들기
result = []

for number in numbers:
    result.append(number ** 3)
print(result)

# 반복처리하면서 하나하나 세제곱시키고 리스트에 하나하나씩 추가하는 방법

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [119]:
# list comprehension
result2 = [ number ** 3 for number in numbers ]
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [121]:
# 짝수만 고르기 (for문과 if문을 응용)

even_list = []

for number in numbers:
    if number % 2 == 0:
        even_list.append(number)
print(even_list)

[2, 4, 6, 8, 10]

In [122]:
# for문과 if문을 응용한것을 list comprehension

even_list2 = [ number for number in numbers if number % 2 == 0 ]
print(even_list2)

[2, 4, 6, 8, 10]

In [140]:
# 문제풀이 1

words = 'my name is hong'
vowels = 'aeiou'

# => my nm s hng (모음을 뺀 단어)

In [143]:
# 1. for문
word_list = []


for word in words:
     if vowels in words:
        word_list.append(word)
        break
print(word_list)

[]

In [146]:
# 강사님 답
result = []
for char in words:
    if char not in vowels:
        result.append(char)
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [153]:
# 2. list comprehension
result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

## 딕셔너리 메서드

In [163]:
info = {
    'name': 'tina',
    'location': 'seoul',    
}

In [164]:
info['name'] = 'yoo'
print(info)

{'name': 'yoo', 'location': 'seoul'}

In [177]:
# .pop(key[, default])
print(info.pop('location'))
print(info)

# .pop(key[, default])
## 강사님꺼 보고 수정하기

KeyError: 'location'

In [176]:
# .update()
info.update(name='park')
print(info)

{'name': 'park'}

In [175]:
# .get(key[, default]) #접근
print(info.get('name')) 
print(info.get('phone')) # None 값 도출
print(info.get('phone', '해당키가 없습니다'))

park
None
해당키가 없습니다

## dict comprehension

In [179]:
# for
# {1: 1, 2: 8, 3: 9...}

result = {}
numbers = range(1, 11)
for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [181]:
# comprehension

result2 = { number : number ** 3 for number in range(1, 11)}
print(result2)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [188]:
# 문제풀이

dust = {
    '서울': 100,
    '대구': 30,
    '부산': 50,
    '광주': 80,
    '제주': 20,
}

# result = {
#    '서울': 100,
#    '부산': 50,
#    '광주': 80,
#}

In [197]:
# 1. for
result = {}
for k, v in dust.items():
    if v >= 50:
        result[k] = v

print(result)

{'서울': 100, '부산': 50, '광주': 80}

In [190]:
# 2. comp
result2 = { k: v for k, v in dust.items() if v >= 50}

In [192]:
result2 = { k: '나쁨' for k, v in dust.items() if v >= 50}

## 세트 메서드

In [194]:
fruits = {'apple', 'banana', 'melon'}

In [196]:
# .add(x)  #순서가 없는 집합이라 순서는 뒤죽박죽
fruits.add('grape')
print(fruits)
fruits.add('grape') # 두번 더해줘도 하나만 보임. 
print(fruits)

{'banana', 'grape', 'apple', 'melon'}
{'banana', 'grape', 'apple', 'melon'}

In [205]:
# .update({set})  # 오른쪽에 있는 시퀀스는 하나하나 잘라서 넣음
# fruits.update('watermelon')
# print(fruits)

#의도한대로 넣으려면
fruits.update({'watermelon', 'orange'})
print(fruits)

{'n', 'orange', 'banana', 'r', 'grape', 'apple', 'o', 'a', 'watermelon', 'melon', 'e', 't', 'w', 'l'}

In [206]:
# .remove(x)
fruits.remove('orange')
print(fruits)

{'n', 'banana', 'r', 'grape', 'apple', 'o', 'a', 'watermelon', 'melon', 'e', 't', 'w', 'l'}

In [202]:
# .pop()
fruits.pop()
print(fruits)

{'n', 'banana', 'r', 'grape', 'apple', 'o', 'a', 'watermelon', 'melon', 'e', 't', 'w', 'l'}

## map, filter, zip

- map(function, iterable)

In [214]:
a = [1, 2, 3]
number_str = map(str, a) # 첫번째로는 함수를 집어넣고 그 뒤에 반복가능한 객체를 집어넣음. 그 결과를 변수에 저장한다.
print(number_str)  
print(list(number_str))

<map object at 0x00000189CEE018A0>
['1', '2', '3']

In [212]:
result = []
for i in a:
    result.append(i ** 3)

print(result)

[1, 8, 27]

In [211]:
def cube(x):
    return x ** 3

print(cube(5))
print(cube(10))

125
1000

In [215]:
result2 = map(cube, a)
print(list(result2))

[1, 8, 27]

In [217]:
# 예제
a = '1 3 5 7 9'
# result = [1, 3, 5, 7, 9]

numbers = list(map(int, a.split()))
print(numbers)

[1, 3, 5, 7, 9]

- filter(function, iterable)
    - Filter에 들어가는 function은 True, False를 반환해야 합니다

In [225]:
def is_odd(x):            #자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)
    # if x % 2 == 1:
    #     return True
    # else:
    #     return False
    return bool(x % 2)
    
print(is_odd(5))

True

In [220]:
numbers = [1, 2, 3, 4, 5]

In [222]:
# for
result = []
for number in numbers:
    if is_odd(number):
        result.append(number)

print(result)

[1, 3, 5]

In [223]:
result2 = filter(is_odd, numbers) #레이지한 연산이기 때문에 list형태로 바꿔줘야됌.
print(list(result2))

[1, 3, 5]

- zip

In [231]:
a = [1, 2, 3, 4]
b = [100, 200, 300, 400, 500]

In [232]:
result = zip(a, b) #zip도 레이지한 연산
print(result)
print(list(result)) # 두개의 리스트를 한 쌍으로 사용해야될 때 단, 갯수가 맞아야됌.

<zip object at 0x00000189CF1F5640>
[(1, 100), (2, 200), (3, 300), (4, 400)]